
/* MOible */
@media (max-width:400px)  {
 
#burgerboss{display: none;}

#test-2{display: none;}
#test-3{display: none;}
#day{display: none;}



    /* Navbar For Dekstop  */


:root{
  --ecriture:none;
  --background:none;
}


*{
background: linear-gradient(#e8b9ff,#5638f9) ;


}


#mainContent{
  position: relative;
  z-index: 200;
  background-color:#EADFD7;;

}
#logo{
  background: none;
  width: 100px;
  height: auto;
  animation: Rool 800ms ease 0s  normal forwards;
}

@keyframes Rool {
	0% {
		opacity: 0;
		transform: translateX(-250px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}


#ContaineMobile{
  position: absolute;
  top: -5%;
  right: 5%;
  z-index: 1000;

}



.nameso{
  display: none;
  }


.txt-logo{
  background: none;
  transform: translateX(100%);
  height: auto;
}

#test{background: none;}

#navcolor{
  background: none;
}








/* Menu BURGER*/



.hamburger {
    background: none;
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: auto;
    z-index: 5;
  }
  
  .hamburger div {
  
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: black;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }

  /* Nav Styles */

  .navor {

    position: fixed;
    width: 100%;
    height: 100%;

    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .navor-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  .trait {
    background: none;
    text-align: left;
    margin-left: 25%;
  }
  .trait .am {

 background: none;
    text-decoration: none;
    font-size: bold;
    color: black;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;

  }
  .trait .am:before {
  
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  .trait .am:hover {
    color: white;
  }
  .trait .am:hover:before {
    height: 100%;
  }
  

  /* Animations */

  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .navor {
    top: 0;
    transform: scale(1);
  }
  
 


.nav-wrapper{background: none;}



/* End of Menu Burger  */



/* Debut de l'image du produit et son arrière plan */
#Colo-2{
  left: 80px;
  transform: translateY(60px);
  display: inline-block;
  height: 250px;
  width: 220px;
  position: absolute;
  background: none;

}



.rond-palmier{
  left: -10px;
  width: 200px;
  animation: myAnim 3s ease 0s normal forwards;
  
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}





.bubbletea{
  top: -50px;
  width: 150px;
 
}





/* Fin de l'image du produit et son arrière plan  */






/* Debut de la description du produit  */
#Colo-1{
  width:375px;
  display: inline-block;
  transform: translateY(200px);

  height: 400px;
  
}

.title{
background: none;
  width: 230px;
  height: auto;
  color: #DB6179;

}

#description{
  background: none;
  transform: translateY(-20px);
  position: relative;
}

.price{
background: none;
width: 100px;
transform: translateY(-50px);

}
#dollars{
  color: rgb(29, 169, 29);
  background: none;
}
 
.buy{
  position: relative;
  background: linear-gradient(#E19737, #DA4D80);
left: 18%;
  top: -50px;
  animation: pulse 2s ease 0s infinite normal none;
}

@keyframes pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

/* Fin du Produit et de la description */
/* ------------------------------------------- */
/* Debut de parallélogramme a placer  */

 .Allright
{display: none;
}


 .parallelogramme{ 
  background: linear-gradient(#DA4D80, #E19737);

  position: absolute;
  width: 70%;
  top: 780px;


} 

#boissonsTroi{
  position: relative;
  top: -250px;
  left: 50%; 
  align-items: center;
  width: 300px;
 } 
 
.boisson{
  background: none;
  width: 150px;
  height: auto;
  top: -60px;
  rotate: -10deg;
  left: -40px;}

.boisson-1{
  background: none;
  width: 150px;
  height: auto;
  top: -60px;
  left: -30px;
}

.boisson-2{
  background: none;
  width: 150px;
  height: auto;
  top: -60px;
  left: -5px;
  rotate: 25deg;
}












/* Fin du parallélogramme a placer  */










/* -------- */






/* END OF MOBILE 400PX  */

}













/* DEKSTOP*/
@media (min-width:768px){
#navbarMobile{display: none}
#ContaineMobile{display: none;}
#mobilenav{display: none;}
#Seconde-rangemobile{display: none;}


    
}